
<div id="about" class="span8">
  <div>
    <h4>このサイトについて</h4>
  </div>

  <div class="about_text">
  	日本人観光客向けのビザ情報サイトです。<br>
  	ビザ情報の対象となる前提条件は、
  	<ul>
  		<li>
  			日本国籍保持者
  		</li>
  		<li>
  			日本滞在者
  		</li>
  		<li>
  			観光目的(ビジネスではない)
  		</li>
  		<li>
  			空路限定
  		</li>
  		<li>
  			日本発、第三国経由ではない
  		</li>
    </ul>
    です。<br>
    なお、ビザ情報の詳細については各国大使館までお問い合わせください。<br>
    本サイトはビザ情報について一切の責任を負いません。<br>
  </div>
  <br>
  <div class="about_visa_type">
    <p>
  	  ビザの種別について
    </p>
      本サイトでいう「ビザ」は観光ビザを指します。シングルやマルチの区分は無視します。<br>
      また、複数のビザ取得手段がある場合、基本的に最も容易な取得方法のみを記載します。※1<br>
      本サイトでいうビザの種別は、各国が使用している意味とは違う場合があります。<br>
      本サイトの各ビザの定義は以下の通りです。
      <ul>
      	<li>
      		「ビザ免除」※2：<br>　事前の申請なく、無料で入国可能。
      	</li>
      	<li>
      		「e-Visa」：<br>　事前にWeb上において申請することで入国可能。
      	</li>
      	<li>
      		「アライバルビザ」※3：<br>　事前の申請なく、入国前に申請することで入国可能。通常、料金が発生する。書類申請の有無は各国による。
      	</li>
      	<li>
      		「大使館申請」※4：<br>
      		日本国内にある各国大使館で申請、取得可能。日本国内に大使館がない場合を含まない。また、代行業者による大使館申請は含む。
      	</li>
      	<li>
      		「旅行代理店」※5：<br>
      		日本国内にある各国の認可を受けた旅行代理店で申請、取得可能。日本国外の旅行代理店は含まない。
      	</li>
      	<li>
      		「発給なし」※6：<br>
      		上記のいずれにも該当しない場合。例は以下の通り。<br>
      		<ul>
      			<li>
      				ビザ発給機関(政府、民間業者)が日本国内に存在しない。
      			</li>
      			<li>
      				紛争等により日本国内の大使館がビザ発給を停止している。
      			</li>
      			<li>
      				観光ビザの発給をそもそもしていない。
      			</li>
      		</ul>
      	</li>
      </ul>
      <small>
      	※1 例えば、2016年4月現在、Cambodiaはe-Visa、アライバルビザ、大使館申請のいずれでもビザが取得可能となっている。しかし、その取得の困難さを考えれば、大使館申請をする人は稀だろう。Cambodiaについては本サイトではe-Visaとアライバルビザの両方を記載しているが、国によってはアライバルビザのみを載せている場合もある。ただし、最も手続きが煩雑ではないと考えられるアライバルビザだが、国次第では余計に手続きが厄介だったり、担当官の無能により時間がかかったり、運が悪いと発給を拒否される場合もある。e-Visaが取得可能な場合はこちらを選択するのが無難かもしれない。アライバルビザについては※3も参照。
      </small><br>
      <small>
      	※2 例えば、米国入国のために必要なESTAは、米国政府の説明ではESTAで事前登録しておけば「ビザ免除」となるものだが、実際には事前の申請が必要かつ料金が発生するため、本サイトでいう「ビザ免除」ではない。また、「ビザ不要(VISA NOT REQUIRED)」を謳う国もあるが、実際には本サイトでいう「ビザ免除」と同意なので区別しない。
      </small><br>
      <small>
      	※3 アライバルビザは国によっては担当官の気分で拒否される可能性がある。これが理由で実際にはアライバルビザが取得可能であるにもかかわらず、e-Visaや大使館申請のみを記載する情報サイトが多い。責任問題になりかねないのでやむを得ないとはいえ、旅行者にとっては知りたい情報であるので、本サイトでは日本人がアライバルビザを取得できた事実がある場合には可能な限り明記する。
      </small><br>
      <small>
      	※4 大使館申請が可能といっても、国によっては事前に現地の受け入れ先が必要なこともある。
      </small><br>
      <small>
      	※5 2016年4月現在ではBhutanのみ該当。
      </small><br>
      <small>
      	※6 情報が錯綜している国についてもこれに分類した。
      </small><br>
  </div>
</div>