<%= render 'layouts/countries_list' %>
<button class="display_visa">全ての国のビザ情報を見る</button>
<div class="visa_enumeration">
  <%= render 'layouts/country_table' %>
  <%= render 'layouts/table_jquery' %>
</div>