<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "世界ビザ情報 for tourists", root_path, id: "logo" %>
    </div>
  </div>
</header>